div{
    height: 500px;
    width: 300px;
    background-color: aquamarine;
    float: left;
    text-align: center;
    margin: 10px;

}
div img{
    height: 100%;
    width: 100%;
}
p{
    padding: 20px;
}
.sample_label{
    display: inline-block;
    margin-top: 100px;
}