#p1{
    font-size: 10px;
}
#p2{
    font-size: 20px;
}
#p3{
    font-size: 30px;}
    .com{
        color: red;
    }
    .background_yellow{
        background-color: antiquewhite;
    }
    #w1{
        color: goldenrod;
    }
    #w2{
        color: green;
    }
    #w3{
        color: brown;
    }